# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

#binary generated database
*.db

# Executables
piResiduos

# generated docs
informe.pdf

#folders
backup/
camera/
logs/
saves/
WacomGSS/
lib/
extras/libharu
