# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

#binary generated database
*.db

#garbage
*~

# Executables
piResiduos

# generated docs
informe.pdf

#folders
backup/
camera/
logs/
saves/
WacomGSS/
lib/
extras/libharu
extras/image

#closed source
tableta.cpp
tableta.h

# secrets
config.ini

#custom images
images/log_nuevo_completo_transp.png
images/log_nuevo_completo_transp_red.png
images/logo_costumer_trans.png
images/logo_redux.png
images/mural_costumer.png
images/sellotrans.png
